@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation in modal */
.interrupted-option {
  animation: options 2s ease-in-out;
}

@keyframes options {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
